@media screen and (min-width: 37.5em) {
    .site-header{
        width: $container-destop-width;
        margin: 0 auto;
    }
    .site-main{
        width: $container-destop-width;
        margin: 0 auto;
    }
}
.main-navigation ul ul li:hover ul {
    left: 250px;
}
.main-navigation ul ul{
    background-color: $menu-background;
}
.main-navigation .menu > ul > li > ul {
    border: 1px solid #e1e1e1;
    border-radius: 0 0 10px 10px;
}

article{
    .entry-header{
        h2{
            a{
                text-decoration: none;
                color: $header-color;
            }
        }
    }
    .entry-meta{
        .posted-on{
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
        .byline{
            .author{
                a{
                    text-decoration: none;
                    color: $link-color;
                }
            }
        }
    }
    .entry-content{
        p{
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
        ul{
            li{
                a{
                    text-decoration: none;
                    color: $link-color;
                }
            }
        }
    }
    ::after {
        content: ' ';
        display: block;
        clear: both;
    }
    .entry-footer{
        .cat-links{
            display: inline-block;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
        .tags-links{
            display: inline-block;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
        .edit-link{
            display: inline-block;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
        .comments-link{
            display: inline-block;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: $link-color;
            }
        }
    }
}